
<h1>Discounts from Deals</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/applyingdeals/new">New deal!</a>
</p>


<label for="day">Search by day:</label>
<select name="day" id="weekdays>">
    <option class ="week" value="Monday">Monday</option>
    <option class ="week" value="Tuesday">Tuesday</option>
    <option class ="rest" value="Wednesday">Wednesday</option>
    <option class ="week" value="Thursday">Thursday</option>
    <option class ="week" value="Friday">Friday</option>
    <option class ="week" value="Saturday">Saturday</option>
    <option class ="week" value="Sunday">Sunday</option>
</select>

<!-- insert search function here -->



  <% for discount in @applyingdeals %>


  <p>Discount Name:<%= discount.deal.name %> </p>
  <p>Applies to: <%= discount.burger.name %> </p>
  <p> Available at <%= discount.deal.restaurant %> on <%=discount.deal.day %>s </p>
  <p>Original Price: £<%= '%.2f' % discount.burger.price.to_f %></p>
  <p>New Price: £<%= '%.2f' % (discount.burger.price.to_f - (discount.deal.discount.to_f * discount.burger.price.to_f)) %></p>
  <p>Amount saved: £<%= '%.2f' % (discount.deal.discount.to_f * discount.burger.price.to_f) %></p>

      <form action="/applyingdeals/<%= discount.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
