<h2>Here's your deal: </h2>
<p>Name: <%= @applyingdeal.deal.name%></p>
<p>Discount: <%= @applyingdeal.deal.discount %></p>
<p>Available at: <%=@applyingdeal.deal.restaurant %></p>

<a href="/deals/<%=@applyingdeal.deal.id%>/edit">Made a mistake?</a>

<p>OR</p>
<form  action="/deals/<%=@applyingdeal.deal.id%>/delete" method="post">
  <input type="submit" value="Delete" id="delete"/>
</form>
