<div id="editdeal">

  <h1>Edit the Deal</h1>

  <div class="flex">
  
    <form class="newentry" action="/deals/<%=@deal.id%>" method="POST">
      <fieldset>
          <img id="swag" src="/images/moneybag.png" alt="moneybag">

    <select name="restaurant_id" id="editrestaurants">
      <% @restaurants.each do |restaurant|%>
      <option id="editrestaurants" value="<%= restaurant.id %>"><%= restaurant.name %></option>
      <% end %>
    </select>
    <br>
    <label for="name">Name:</label>
    <br>
    <input type="text" name="name" id="name" value="<%=@deal.name%>">
    <br>
    <label for="discount">Discount:</label>
    <br>
    <input type="number" name="discount" id="discount" value="<%=@deal.discount%>">
    <br>
    <label for="day">Day?</label>
    <br>
    <select name="day" id="selectday">
      <option id ="week" value="Monday">Monday</option>
      <option class ="week" value="Tuesday">Tuesday</option>
      <option class ="rest" value="Wednesday">Wednesday</option>
      <option class ="week" value="Thursday">Thursday</option>
      <option class ="week" value="Friday">Friday</option>
      <option class ="week" value="Saturday">Saturday</option>
      <option class ="week" value="Sunday">Sunday</option>
    </select>
    <br>
    </fieldset>
    <input class="btn--submit" type='submit' value="Edit!">

  </div>
</form>
</div>
