<h1>Deals</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Discount</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Restaurant</th>
    <th></th>

  </tr>
  <% for deal in @deals %>
  <tr>
    <td><%= deal.name %></td>
    <td>|</td>
    <td><%= (deal.discount.to_f * 100).round(0) %>% off</td>
    <td>|</td>
    <td><%= deal.day %></td>
    <td>|</td>

    <td><%=deal.restaurant%></td>
    <td>|</td>
    <td><form action="/deals/<%=deal.id%>/delete" method="post">
      <input type="submit" value="Delete" id="delete"/>
    </form></td>
  </tr>
  <% end %>
</table>

<h1>Deals by day of the week</h1>
<% @days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>
<% for day in @days %>
<p> <%=day %> = <%= Deal.list(day) %></p>
<% end %>

<!-- form action get? -->
<select name="day" id="day>">
<% @days.each do |aday|%>
  <option id ="daybox" value="<%= day %>"> <%= aday %></option>
<% end %>
</select>
