<div id="addeddeal">
  <h1><%= @deal.name %></h1>
  <br>
  <form action="/applyingdeals/new">
    <input class="btn--submit" type="submit" value="Add a new burger to the deal" />
  </form>

  <table>
    <th>Burger</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Discount</th>
    <th></th>
    <th>New Price</th>
    <th></th>

    <br>
    <% for burger in @deal.find_burgers %>
    <tr>
      <td> <%= burger.name %></td>
      <td>|</td>
      <td>£<%= '%.2f' % burger.price %></td>
      <td>|</td>
      <td>£<%= '%.2f' % burger.discount(@deal) %></td>
      <td>|</td>
      <td>£<%= '%.2f' % (burger.price.to_f - burger.discount(@deal).to_f) %></td>
      <td>|</td>
      <td><form action="/applyingdeals/<%=@deal.find_applying_deal.id %>/delete" method="post">
        <input type="submit" value="Delete From Deal" class="btn--delete"/></form></td>
      <% end %>

    </tr>
  </table>
  <br>
  <br>
</div>
