
<table>
<th>Burger:</th>
<th></th>
<th>Price:</th>
<th>Discount:</th>
<th>New Price:</th>

<h1><%= @deal.name %></h1>
<form action="/applyingdeals/new">
<input class="btn--submit" type="submit" value="Add a new burger to the deal" />
</form>
<% for burger in @deal.find_burgers %>
<tr>
<td> <%= burger.name %></td>
<td></td>
<td>£<%= '%.2f' % burger.price %></td>
<td>£<%= '%.2f' % burger.discount(@deal) %></td>
<td>£<%= '%.2f' % (burger.price.to_f - burger.discount(@deal).to_f) %></td>
<td>
<% end %>

</tr>
</table>
