<h1>Burgers Around Town</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Vegetarian?</th>
  </tr>
  <% for burger in @burgers %>
  <tr>
    <td><a href="/burgers/<%=burger.id%>"><%= burger.name %></a></td>
    <td>|</td>
    <td>£<%= '%.2f' % burger.price %></td>
    <td>|</td>
    <% if burger.veg == "f" %>

    <td><%= "No" %></td>
    <% elsif burger.veg == "t" %>
    <td> <%= "Yes" %></td>
      <% end %>
    <td>
    <form action="/burgers/<%=burger.id%>/delete" method="post">
      <input type="submit" value="Delete" id="delete"/>
    </form></td>
    </tr>

    <% end %>
</table>
