<div id="burgershow">
  <img id="burgerdetail" src="/images/burgerlogo.png">

  <h1>Here's your burger: </h1>
  <h1><%= @burger.name%></h1>
  <p class="subtitle">Usual Price: £<%= @burger.price %></p>

  <p class="subtitle">Vegetarian?</p>
  <div>
    <% if @burger.veg == "f" %>
    <%= "No" %></td>
    <% elsif @burger.veg == "t" %>
    <img src="/images/vegetarian-mark-90.png"></td>
    <% end %>
  </div>

    <p class="subtitle">Available at: <a href="/restaurants/<%=@burger.find_restaurant.id %>"><%= @burger.find_restaurant.name %></a>
    </p>
    <p class="subtitle">Part of deals:
                        <% for deal in @burger.find_deals %>
                        <%= deal.name %>
                        <% end %>

    </p>
    <br>

    <a href="/burgers/<%=@burger.id%>/edit">Made a mistake?</a>

    <p>OR</p>
    <form  action="/burgers/<%=@burger.id%>/delete" method="post">
      <input type="submit" value="Delete" class="btn--delete"/>
    </form>

</div>
