<h2>Here's your burger: </h2>
<p>Name: <%= @burger.name%></p>
<p>Usual Price: £<%= @burger.price %></p>
<p>Vegetarian? <% if @burger.veg == "t" %>
               Yes </p>
               <% elsif @burger.veg == "f" %>
                No </p>
                <%end %>
<!-- replace with function: -->
<p>Available at: <a href="/restaurants/<%=@burger.find_restaurant.id %>"><%= @burger.find_restaurant.name %></a>


</p>

<a href="/burgers/<%=@burger.id%>/edit">Made a mistake?</a>

<p>OR</p>
<form  action="/burgers/<%=@burger.id%>/delete" method="post">
  <input type="submit" value="Delete" id="delete"/>
</form>
