<h1>Restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Location</th>
    <th></th>
    <th>Image</th>
    <th></th>
    <th>Menu</th>
  </tr>
  <% for restaurant in @restaurants %>
  <tr>
    <td><%= restaurant.name %></td>
    <td>|</td>
    <td><%= restaurant.location %></td>
    <td>|</td>
    <td><img src="<%=restaurant.url%>"></td>
    <td>|</td>


      <% for burger in restaurant.burgers %>
      <td>
      <%= burger.name %>
      <br>
      £<%= burger.price%>

      <td>|</td>
      <%end%>

    </td>
    <td></td>
      <td><form action="/restaurants/<%=restaurant.id%>/delete" method="post">
      <input type="submit" value="Delete" id="delete"/>
    </form></td>
  </tr>
  <% end %>
</table>
