
<h1><%= @restaurant.name%></h1>
<p>Location: <%= @restaurant.location %></p>
<!-- replace with function: -->
<!-- why does this fail if there aren't any burgers yet? -->
<h1>Menu So Far: <% for burger in @restaurant.burgers %></h1>
                                <a href="/burgers/<%=burger.id%>"><%= burger.name %></a>

                                      £<%= burger.price%><br>
                                <% end %></p>
<h1>Deals for <%=@restaurant.name %></h1>
                    <% for deal in @restaurant.deals %>
                        <a href="/deals/<%= deal.id %>"><%= deal.name %></a>
                        <br>
                    <% end %>
                        <br>
<img src="images/<%=@restaurant.url%>" alt="burger">
<br>
<a href="/restaurants/<%= @restaurant.id %>/edit">Made a mistake? Edit it here.</a>

<p>OR</p>
<form action="/burgers/new">
<input type="submit" value="Add a new burger" />
</form>
<form  action="/restaurants/<%=@restaurant.id%>/delete" method="post">
  <input type="submit" value="Delete Restaurant" id="delete"/>
</form>
