<div id="showrest">
<h1><%= @restaurant.name%></h1>
<img src="/images/restaurant.png">
<p class="subtitle">Location: <%= @restaurant.location %></p>
<h1>Menu So Far: <% for burger in @restaurant.burgers %></h1>
                                <a href="/burgers/<%=burger.id%>"><p class="subtitle>"><%= burger.name %></a></p>

                                <p class="subtitle">£<%= burger.price%></p>
                                <br>
                                <% end %>
<h1>Deals for <%=@restaurant.name %></h1>
                    <% for deal in @restaurant.deals %>
                        <p class="subtitle"><a href="/deals/<%= deal.id %>"><%= deal.name %></a></p>
                        <br>
                    <% end %>
                        <br>


<br>
<a href="/restaurants/<%= @restaurant.id %>/edit" id="editlink">Made a mistake? Edit it here.</a>

<h1>OR</h1>
<form action="/burgers/new">
<input type="submit" value="Add a new burger" class="btn--submit"/>
</form>
<form  action="/restaurants/<%=@restaurant.id%>/delete" method="post">
  <input type="submit" value="Delete Restaurant" class="btn--delete"/>
</form>

</div>
